.u-section-1 .u-sheet-1 {
  min-height: 667px;
}

.u-section-1 .u-text-1 {
  margin: 54px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 29px auto 0 104px;
}

.u-section-1 .u-text-3 {
  margin-left: 104px;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  margin: 54px auto 0 88px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: 9px auto 0 88px;
  padding: 0;
}

.u-section-1 .u-text-5 {
  margin: 54px auto 60px 88px;
}